body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #271948 2.6%, #090D25 31.77%, #191948 50%, #090D25 68.23%, #191948 100%);
    font-family: 'Arial, sans-serif'; /* Cambia la fuente principal a Arial */
    text-align: center;
    color: #fff; /* Cambiando el color del texto a blanco */
}

/* Puedes agregar más estilos personalizados aquí para tus elementos HTML */

h1 {
    color: #fff; /* Cambia el color del título a blanco o elige un color legible */
}

.movie {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.movie-image {
    width: 200px; /* Establece el ancho deseado */
    height: auto; /* Ajusta automáticamente la altura para mantener la relación de aspecto */
    border-radius: 10px; /* Redondea las esquinas */
    object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
}

/* Estilo para el fondo con gradiente lineal */
#circular-button {
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    background: transparent; /* Change the background to transparent */
}

#circular-button img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio dentro del botón circular */
    height: 100%;
    object-fit: cover; /* Escala la imagen para que se ajuste al botón */
}

#circular-button:hover {
    background: local;
    transform: scale(1.2); /* Escalamos el botón al 120% del tamaño original */
}


/*-----------------------*/
/* Estilos carusel       */
/*-----------------------*/

.carousel{
    min-height: 500px;
    min-width: 400px;
    border-radius: 20px;

}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #ccc;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    min-height: 500px;
    min-width: 400px;
    border-radius: 10px;
    object-fit: cover;
}

/*-------------------------------*/
/* Estilos de card detalles movie*/
/*-------------------------------*/


#movie-details {
    background: none;
    border: 4px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    max-width: 700px;
    max-height: 700px;
    margin-bottom: 100px
  }

/*-------------------------------*/
/* Estilos navBar                */
/*-------------------------------*/

        /* Estilos para el menú de navegación */
        #navbar {
            position: fixed;
            top: 0;
            left: -600px; /* Inicialmente oculto */
            width: 600px;
            height: 100%;
            background-color: #0D1030;
            border-right: 4px solid #ccc;
            transition: left 0.3s ease;
            z-index: 1000;
        }

        #navbar ul {
            list-style: none;
            padding: 100;
        }

        #navbar ul li {
            padding: 10px 0;
            text-align: center;
            margin-bottom: 10px; /* Espacio entre elementos de la lista */
        }

        #navbar ul li a {
            padding-left: 200px;
            color: white;
            display: block;
            font-size: 25px;
        }

    


#button-nav {
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

#button-nav img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio dentro del botón circular */
    height: 100%;
    object-fit: cover; /* Escala la imagen para que se ajuste al botón */
}

#button-nav:hover {
    background: local;
    transform: scale(1.2); /* Escalamos el botón al 120% del tamaño original */
}

#button-nav:focus {
    outline: none; /* Quita el resaltado de enfoque */
  }


  
/*--------------------------------*/
/* Estilos para botones singin-up */
/*--------------------------------*/

  #header-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

#signUp:hover {
    background: none;
    transform: scale(1.2); /* Escalamos el botón al 120% del tamaño original */
}

#signIn:hover {
    background: none;
    transform: scale(1.2); /* Escalamos el botón al 120% del tamaño original */
}

/*--------------------------------*/
/* Estilo para la barra de búsqueda */
/*--------------------------------*/

.barraBuscar {
    font-size: x-large;
    color: #ccc;
}

.btn-buscar {
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid #ccc;
    background:none;
    color: #ccc;
}

.btn-buscar:hover {
    transform: scale(1.1);
}
