body {
  background: linear-gradient(90deg, #191948 2.6%, #090d25 31.77%, #191948 50%, #090d25 68.23%, #191948 100%);
}

.btn-pr, .btn-pr-sec {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 33px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 20px;
  border: 5px solid #e0c14d;
  background-color: transparent;
  color: #e0c14d;
  font-size: 20px;
  font-weight: 700;
}
.btn-pr:hover, .btn-pr-sec:hover {
  text-decoration: none;
  cursor: pointer;
  border: 5px solid #e0564d;
  color: #e0564d;
}
.btn-pr-sec {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  border: 3px solid #ffffff;
}

.btn-mn {
  text-decoration: none;
  display: flex;
  width: 203px;
  height: 55px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(180deg, #3F0D50 0%, rgba(79, 96, 255, 0) 100%);
  color: #ffffff;
  border-color: #ffffff;
  margin: 0;
  padding: 0;
  border-radius: 30px;
}

.btn-mn .value{
  text-decoration: none;
}

.btns a:link{
  text-decoration: none;
}

.icon:hover {
  cursor: pointer;
  animation: shadow-animation 0.5s infinite alternate;
}

.menu {
  width: 600px;
  height: 800px;
  flex-shrink: 0;
  display: none;
  position: absolute;
  top: 12%;
  padding: 10px;
  background-color: #0D1030;
  opacity: 0.6;
  border: 1px solid #ccc;
  z-index: 1;
}

.menu li {
  color: #ffffff;
}
.menu li:hover {
  background-color: #3F0D50;
  color: #FABB05;
}

.menu li {
  list-style: none;
  padding: 5px 0;
}

.txt1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.txt10 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}

.txt2 {
  color: #e0c14d;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}
.txt2:hover {
  cursor: pointer;
  color: #e0564d;
}

@keyframes shadow-animation {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 17, 0, 0.7);
  }
  100% {
    box-shadow: none;
  }
}
.card, .card-float {
  width: 662px;
  height: 425px;
  background-color: transparent;
}
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/cardLines.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Envia la imagen d
e fondo al fondo del card */
}
.card-bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 152%;
  background-image: url("../img/cardLines3.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.card-bg-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 152%;
  background-image: url("../img/cardLines4.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.input {
  border-radius: 100px;
  background: rgba(217, 217, 217, 0.71);
  width: 431px;
  height: 35px;
  flex-shrink: 0;
}

.txt3 {
  color: #ffffff;
  font-size: 20px;
}

.txt4 {
  color: #BEBEBE;
  font-size: 14px;
  font-family: Inter;
}

.txt5 {
  color: #FABB05;
  font-size: 12px;
  font-family: Inter;
}

.progress-bar {
  color: #FABB05;
}

.number-bg {
  border-radius: 68px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Ellipse 1.svg");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Envia la imagen de fondo al fondo del card */
}

.txtCircle {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 50%;
  background-color: transparent; /* Fondo transparente */
  border: 2px solid #FABB05; /* Borde fino */
  color: #ffffff; /* Color del texto */
  font-size: 24px;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 1;
}

.moviePortada {
  border-radius: 20px;
  border: 1px solid #000;
  width: 400px;
  height: 500px;
}

.lines {
  width: 100%;
}

.bloqueimg {
  width: 100%;
  height: 100%;
  margin-top: 0.01px;
  opacity: 0.2;
}

footer {
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 96px;
  color: #ffffff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0;
}
.nav .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.nav .btns {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav .btns button {
  margin: 0.5rem;
}

.container-ct {
  padding: 5rem;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-ctlg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-body-2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 662px;
  height: 550px;
}
.card-body-left {
  padding: 1rem;
}
.card-body-left .movieInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-body-left .movieInfo .desc {
  display: flex;
  flex-direction: column;
}
.card-body-left .fotcomnt {
  display: flex;
  align-items: center;
}
.card-body-left .load {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  align-self: flex-start;
}

.card-lines {
  margin: 1rem auto;
}
.card-lines .input::placeholder {
  color: black;
}
.card-lines-tf {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.card-lines-tf-2 .input {
  width: 497px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #9FA0AA;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.card-lines-bm {
  margin-bottom: 30px;
}
.card-lines-bm a {
  color: #ffffff;
}
.card-lines-btn {
  margin-top: 20px ;
}
.card-lines-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-lines-icons a {
  margin: 10px;
}
.card-lines-ctg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 90%;
  background-image: url("../img/Rectangle 32.png");
  background-size: cover;
  background-position: center;
}
.card-lines-ctg .movieInfo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.card-lines-ctg .movieInfo .movieTitle {
  margin: 2rem;
}
.card-lines-ctg .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-lines-ctg .icons .card-icon {
  padding: 1rem;
}

.fotcomnt {
  display: flex;
  align-items: center;
}
.fotcomnt .name {
  padding-left: 2rem;
  color: #BEBEBE;
  font-size: smaller;
}
.fotcomnt .comment {
  width: 497px;
  height: 67px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #9FA0AA;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.fotcomnt-an {
  display: flex;
  flex-direction: column;
}
.fotcomnt-an .info {
  display: flex;
  align-items: row;
}
.fotcomnt-an .buttons {
  display: flex;
  align-items: row;
  justify-content: end;
  padding: 1rem;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17rem;
}

.grilla4x4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  align-content: center;
}
.grilla4x4 .elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}
.grilla4x4 .elem .card-float {
  position: relative;
}
.grilla4x4 .elem-2 {
  display: flex;
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.grilla4x4 .elem-2 .rating {
  display: flex;
  flex-direction: row;
}

.card-icon img:hover{
  cursor: pointer;
}

.mini-img-portrait{
  width: 70px; /* Ancho deseado para el ícono */
  height: 70px; /* Alto deseado para el ícono */
  margin-right: 8px; /* Espacio entre el ícono y el título de la película */
}
/*# sourceMappingURL=styles.css.map */
