body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        90deg, #191948 2.60%, #090D25 31.77%, #191948 50%, 
        #090D25 68.23%, #191948 100%);
}
/*-----------------------*/
/* Estilos de Encabezado*/
/*-----------------------*/
header{
    margin: 0;
    padding: 0;
}

.contenedor{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

    
}

.contenedor .logo{
    display: grid;
    place-content: center;
}

.contenedor .botones{  
   
    text-align: right;
    margin: 15px 5px;
    padding: 0 5px;
}

.contenedor .user{
    
    width: max-content;
    height: max-content;

}
.botones a{
    padding: 10px;
    margin: 10px;
    color: #FFF;
    padding: 5px 20px;
    border-style: solid;
    border-radius: 30px;
    text-align: right;
    
    
}
.botones a:hover{
    color: #FFF;
    font-weight: 600px;
    padding: 5px 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    
    
}



.titulos{
    color: #FFF;
    text-align: center;
}

.home{
    margin-top: 20px;
}

/*-------------------------------------*/
/* Estilo para la linea de la cabecera */
/*-------------------------------------*/
.linea img{
    width: 100%;
}

/*-----------------------------------*/
/* Estilo para la barra de busqueda */
/*----------------------------------*/

.barraBusqueda{
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
   
}

section .barraBusqueda input[type="text"]{
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(114, 115, 116);
    border-radius: 60px;
    background-color: rgb(114, 115, 116);
    padding: 0 50px 0 50px;
}

section .barraBusqueda input[type="text"]:hover{
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-color: #FFF;
    border-radius: 80px;
    background-color: rgb(114, 115, 116);
    padding: 0 50px 0 50px;
    
}
.barraBusqueda ::placeholder{
    text-align: center;
    font-family: Roboto;
    color: #FFF;
}


/*---------------------------*/
/* Estilos para las portadas */
/*---------------------------*/

.portadas{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(3, 1fr) ;
    justify-content: center;
}
.fotos{
    width: 200px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;

}

.fotos img{
    display: block;
    width:300px ;
    border-radius: 5px;

}
.fotos:hover{
    transform: scale(1.3);
    z-index: 3;
}


.piePagina{
    background-color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 96px;
    color: #ffffff;
}

/*-----------------------*/
/* Estilos de Materialize*/
/*-----------------------*/
.carousel{
    min-height: 500px;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #ccc;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;

}

